*-screen.png
*.qcow2
*.qcow2.zst
*.vmdk
*.ova
release-assets/
graphify-out/
xinu-vbox/compile/binaries/
xinu-vbox/compile/.defs
xinu-vbox/compile/.deps
xinu-vbox/compile/.vers_num
xinu-vbox/compile/version
xinu-vbox/compile/xinu.elf
xinu-vbox/compile/xinu.map
xinu-vbox/compile/xinu.bin
xinu-vbox/compile/xinu
xinu-vbox/tftpboot/
xinu-vbox/config/config
xinu-vbox/config/lex.yy.c
xinu-vbox/config/y.tab.c
xinu-vbox/config/conf.c
xinu-vbox/config/conf.h
xinu-vbox/include/conf.h
xinu-vbox/system/conf.c
